<template>
  <div class="analytics">
	<ul class="analytics_list">
      <li class="analytic" v-for="analytic in analytics" v-bind:key="analytic.ID">
		<div class="analytic_name">{{ analytic.name }}</div>
		<span class="analytic_price">{{ analytic.price }}</span>
		円
		x
		<span class="analytic_total">{{ analytic.total }}</span>
		個
		=
		<span class="analytic_sum">{{ analytic.total * analytic.price }}</span>
		円
      </li>
	</ul>
	<br>
	<ul class="analytics_list">
      <li class="total">
		合計: <span class="total_sum">{{ this.sum }}</span>円
      </li>
	</ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'Register',
  data: function(){
	return {
      analytics: [],
      sum: 0
	};
  },
  mounted: function(){
    var self = this;
	axios.get(process.env.VUE_APP_API_BASEURL + "analytics")
      .then(function(res){
        console.log(res.data);
		self.analytics = res.data
		self.calc_sum();
      }).catch(function(err){
        console.log(err);
      });
  },
  methods: {
	calc_sum: function() {
      var self = this;
      this.analytics.forEach(function(analytic) {
		self.sum += analytic.price * analytic.total
      });
	}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul.analytics_list {
  display: inline-block;
  height: 50%;
  list-style-type: none;
  padding: 1rem 2rem;
  background-color: #eee;
  overlay: hidden;
}
li.analytic {
  display: block;
  margin: 0.5rem 2rem;
  text-align: left;
}
.analytic_name {
  font-size: 1.8rem;
}
.analytic_price, .analytic_total, .analytic_sum {
  font-size: 1.5rem;
}
.total {
  font-size: 2rem;
}
.total_sum {
  font-size: 4rem;
}
</style>
