<template>
  <div class="products">
	<h2>商品編集</h2>
	<h3>商品</h3>
    <div class="hr"></div><br>
	<ul class="products_list">
      <li class="product" v-for="product in products" v-bind:key="product.ID">
		<span>{{ product.name }}</span> @ <span>{{ product.price }}円</span>
        <br /> <div class="delete_btn btn" @click="deleteProduct(product.ID)">Delete</div>
		<div class="edit_btn btn" @click="editProduct(product)">Edit</div>
      </li>
	</ul><br>
	<h3>編集</h3>
    <div class="hr"></div><br>
    <div class="product_form">
      <div class="editing_name">
        <span class="editing_label">Name: </span><input v-model="editing_product.name" placeholder="ニポポ人形">
      </div>
      <div class="editing_price">
        <span class="editing_label">Price: </span><input v-model.number="editing_product.price" type="number" placeholder="999999999">
      </div>
      <div class="save_btn btn" v-on:click="save()">Save</div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'Products',
  data: function(){
	return {
      products: [],
      editing_product: {
        ID: null,
        name: "",
        price: 0
      }
	};
  },
  mounted: function(){
    this.update();
  },
  methods: {
    update: function() {
      var self = this;
      console.log(process.env.VUE_APP_API_BASEURL);
      axios.get(process.env.VUE_APP_API_BASEURL + "products")
        .then(function(res){
          console.log(res.data);
          self.products = res.data;
        }).catch(function(err){
          console.log(err);
        });
    },
    resetEditingProduct: function() {
      this.editing_product = {
        ID: null,
        name: "",
        price: 0
      }
    },
    save: function() {
      let self = this;
      const product = {
        name: self.editing_product.name,
        price: self.editing_product.price
      }

      // When update
      if(self.editing_product.ID !== null) {
        const prevProduct = self.products.find(p => (self.editing_product.ID === p.ID))
        if(prevProduct.name === product.name && prevProduct.price === product.price) {
          // No update
          self.resetEditingProduct();
          return
        } else {
          // Delete previous product to update
          self.deleteProduct(prevProduct.ID)
        }
      }

      axios.post(process.env.VUE_APP_API_BASEURL + "product", product)
        .then(function() {
          self.resetEditingProduct();
          self.update();

          return
        })
        .catch(function() {
          console.error("Couldn't send."+JSON.stringify(self.editing_product))
        })
    },
	deleteProduct: function(id) {
      let self = this;
      axios.delete(process.env.VUE_APP_API_BASEURL + "product" + "/" + id)
        .then(function() {
          self.update();
        })
      .catch()
	},
	editProduct: function(product) {
      this.editing_product.ID = product.ID;
      this.editing_product.name = product.name;
      this.editing_product.price = product.price;
	}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
span.editing_label{
  font-size: 1rem;
}
.hr{
  display: inline-block;
  width: 10rem;
  border-top: solid 4px silver;
}
ul.products_list {
  display: inline-block;
  height: 50%;
  list-style-type: none;
  padding: 1rem 2rem;
  background-color: #eee;
  overlay: hidden;
}
li.product {
  display: block;
  margin: 0.5rem 2rem;
  font-size: 2rem;
}
.product_form {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: #eee;
}
.editing_name, .editing_price {
  font-size: 2rem;
}
.editing_label {
  font-size: 1rem;
}
.save_btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  border: solid 1px silver;
  border-radius: 5px;
}
.delete_btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  border: solid 1px silver;
  border-radius: 5px;
  background-color: #ff6e6e;
}
.edit_btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  border: solid 1px silver;
  border-radius: 5px;
  background-color: #ff9757;
}
</style>
