<template>
  <div class="register">
    <div class="sum_window">
      <div class="sum_yen">
        {{sum}}<span class="yen">円</span>
      </div>
    </div>
    <div class="products_window">
      <h3>商品</h3>
      <div class="hr"></div><br>
      <ul class="products_list">
        <li class="product" v-for="product in products" v-bind:key="product.name">
          <span>{{ product.name }}</span> @ <span>{{ product.price }}円</span>
          <br>
          <div class="selected_btn btn" v-on:click="put_cart(product.ID, 1)">+</div>
          <span v-if="selected_by_id(product.ID) != undefined">{{ selected_by_id(product.ID).count }}</span>
          <div class="selected_btn btn" v-on:click="put_cart(product.ID, -1)">-</div>
        </li>
      </ul>
    </div>
    <div class="save_window">
      <div class="save_btn btn" v-on:click="save()">Save</div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'Register',
  data: function(){
	return {
      sum: 0,
      products: [],
      selecteds: []
	};
  },
  mounted: function(){
    var self = this;
    console.log(process.env.VUE_APP_API_BASEURL);
	axios.get(process.env.VUE_APP_API_BASEURL + "products")
      .then(function(res){
        console.log(res.data);
        self.products = res.data;
      }).catch(function(err){
        console.log(err);
      });
    

	this.msg = process.env.VUE_APP_API_BASEURL;
  },
  methods: {
    product_by_id: function(id) {
      return this.products.find(function(product){
        return (product.ID === id);
      });
    },
    selected_by_id: function(id) {
      return this.selecteds.find(function(selected){
        return (selected.ID === id);
      });
    },
    put_cart: function(id, amount){
      var selected_idx = this.selecteds.findIndex(function(selected){
        return (selected.ID === id);
      });
      if(selected_idx < 0 && amount > 0){
        console.log("Not found");
        this.selecteds.push({
          ID: id,
          count: 1
        });
      }else{
        this.selecteds[selected_idx].count += amount;
        if(this.selecteds[selected_idx].count == 0) this.selecteds.splice(selected_idx, 1);
      }
      this.calc();
    },
    calc: function(){
      var sum = 0;
      var self = this;
      self.selecteds.forEach(function (selected) {
        sum += self.product_by_id(selected.ID).price * selected.count;
      });
      this.sum = sum;
    },
    save: function() {
      var self = this;
      axios.post(process.env.VUE_APP_API_BASEURL + "transaction", {})
        .then(function(res) {
          var transaction_id = res.data.ID;
          self.selecteds.forEach(function(selected) {
            var product_id = self.product_by_id(selected.ID).ID;
            var purchase = {
              transaction_id,
              product_id,
              count: selected.count
            }
            axios.post(process.env.VUE_APP_API_BASEURL + "purchase", purchase)
              .then(function(res) {
                if(res.status == 200){
                  self.selected = [];
                  self.sum = 0;
                  return
                }
              })
              .catch(function(err) {
                console.log(err);
              });
          });
        })
        .catch(function(err) {
          console.log(err);
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div.sum_window {
  display: block;
  height: 10%;
  margin: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
}
div.products_window {
  display: block;
  height: 45%;
}
div.cart_window {
  display: block;
  height: 45%;
}
div.sum_yen{
  font-size: 5rem;
  padding: 0 1rem;
}
span.yen{
  font-size: 3rem;
}
.hr{
  display: inline-block;
  width: 10rem;
  border-top: solid 4px silver;
}
ul.products_list {
  display: inline-block;
  height: 50%;
  list-style-type: none;
  padding: 1rem 2rem;
  background-color: #eee;
  overlay: hidden;
}
ul.selected_list {
  display: inline-block;
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0.5rem 5rem;
  background-color: #eee;
}
li.product {
  display: block;
  margin: 0.5rem 2rem;
  font-size: 2rem;
}
.selected_btn{
  display: inline-block;
  padding: 0 3rem;
  cursor: pointer;
  margin: 0.5rem;
  border: solid 1px silver;
  border-radius: 5px;
}
.save_btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 0.5rem;
  border: solid 1px silver;
  border-radius: 5px;
}
</style>
